@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Indie+Flower&family=Poppins:wght@100;300;900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Work+Sans", sans-serif;
}
:root {
  --yellow: #dcbe12;
  --plateado: #c0c0c0;
  --plateado-transparent: #c0c0c06f;
  --azulino: #071934;
  --white: #fafafa;
  --bg-img: url("assets/endless-constellation.svg");
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}
body {
  width: 100%;
  color: white;
  background-color: var(--azulino);
}

.section-title {
  font-weight: 900;
  font-size: 42px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  position: fixed;
  border-bottom: 1px solid rgba(255, 255, 255, 0.697);
  padding: 5px 0px 5px 40px;
  background: linear-gradient(
    30deg,
    #071934 30%,
    rgba(255, 255, 255, 0.438) 100%
  );
  box-shadow: 0 0 10px 0 var(--white);
  transition: all 0.7s ease;
  /*overflow: hidden;*/
  z-index: 7;
}
/*header::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 5px 0px;
  top: -10%;
  left: -100%;
  transform: rotate(-15deg);
  height: 80px;
}
header:hover::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}*/
header:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.179);
  box-shadow: 0 0 5px 0 var(--white 0.8);

  transition: all 0.7s ease;
}

.logo-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  width: 25%;
}

#logo-Vehicles-header {
  width: 60px;
  position: absolute;
  left: 80px;
  top: 10px;
}
.texto-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  top: 60px;
}
.texto-logo h3 {
  font-weight: 900;
  position: absolute;
  left: 60px;
  background: linear-gradient(
    0deg,
    rgb(223, 255, 223) 5%,
    rgb(16, 71, 11) 50%,
    rgb(200, 231, 193) 95%
  );
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.2);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px darkgoldenrod;
}
.texto-logo p {
  font-weight: 600;
  position: absolute;
  left: 40px;
  top: 25px;
  background: linear-gradient(
    0deg,
    rgb(223, 255, 223) 10%,
    rgb(16, 71, 11) 50%,
    rgb(200, 231, 193) 90%
  );
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.2);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}
.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

li > a {
  text-decoration: none;
  text-emphasis-style: none;
  color: white;
  font-size: 18px;
}
.contendor-home > a {
  color: var(--yellow);
  font-weight: 700;
  color: var(--yellow);
  font-size: 32px;
}
.navbar-list li > a:hover {
  color: var(--yellow);
  font-weight: 700;
  transition: all 0.3s linear;
}
/*columna para el span animado del subrayado*/
.navbar-list li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.navbar-list li a::after {
  content: "";
  height: 2px;
  width: 100%;
  background: var(--plateado);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease;
}
.navbar-list li a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
ul .menu-00 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px;
}
.contendor-home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  text-align: start;
}
.vertical {
  height: 60px;
  width: 3px;
  border-radius: 50%;
  background-color: var(--plateado);
}
li span {
  height: 1px;
  width: 10px;
  background-color: var(--plateado);
}

/*seccion loguearse + carrtito*/
.cart-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  margin: 0;
  gap: 20px;
  padding: 0 40px;
  border-radius: 30% / 50% 0 90% 50%;
  background-color: rgba(255, 255, 255, 0.05);
  border-bottom: solid 0.8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
@keyframes destello {
  0% {
    border-bottom: solid 1px #fff;
    border-radius: 30% / 50% 0 90% 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  50% {
    border-bottom: 2px solid #8e8400;
    border-radius: 30% / 50% 0 90% 50%;
    box-shadow: 0 15px 25px rgba(143, 135, 0, 0.3);
  }
  100% {
    border-bottom: 1px solid #8e8400;
    border-radius: 30% / 50% 0 90% 50%;
    box-shadow: 0 10px 20px rgba(25, 24, 0, 0.3);
  }
}
.cart-login:hover {
  animation: destello 7s infinite alternate;
}
.login {
  display: flex;
}
.login a {
  text-decoration: none;
  color: var(--white);
  padding-left: 5px;
}

.login i:hover {
  cursor: pointer;
}
#sing-toggle {
  display: none;
}
/*menu hamburguesa*/
#menu-toggle {
  display: none;
}
.menu-toggle i {
  display: none;
  font-size: 36px;
  cursor: pointer;
}
/*menu carrito*/
.carrito {
  display: flex;
  height: 40px;
  cursor: pointer;
  z-index: 9;
}
#cart-toggle {
  display: none;
  z-index: 10;
}
.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  width: 20%;
  background-color: rgba(12, 12, 24, 0.617);
  border-radius: 30% / 50% 0 0% 50%;
  top: 120px;
  right: 0;
  margin-left: 40px;
  margin-right: 0;
  padding: 40px 0px 20px 60px;
  border-left: 1px solid white;
  gap: 60px;
  height: calc(100vh - 120px);
  overflow: scroll;
  display: none;
  transition: all 0.7s linear;
  z-index: 9999;
}
.cart h2 {
  display: flex;
  align-items: center;
  margin-left: 60px;
  padding-bottom: 20px;
  color: var(--yellow);
  font-size: 28px;
  font-weight: 600;
}
.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#kid-00 {
  width: 40%;
}
#classic-02 {
  width: 45%;
}
.item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.item-info h3 {
  border: solid 1px var(--plateado);
  border-radius: 5px;
  padding: 0 10px;
}
.item-info p {
  font-weight: 600;
}
.item-info span {
  font-weight: 900;
  font-size: 16px;
  color: black;
  background-color: var(--plateado);
  border: solid 1px var(--plateado);
  border-radius: 5px;
  padding: 0 10px;
}
.item-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5px;
}
.item-handler span {
  font-weight: 900;
  font-size: 16px;
  color: var(--white);
  border: solid 1px var(--plateado);
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
}
#cierre-item {
  height: 3px;
  width: 220px;
  border-radius: 50%;
  background-color: var(--plateado);
}

#cart-toggle:checked + .cart {
  display: block;
  transition: all 0.7s linear;
}
/*para efecto de glassmorphismo--para el carrito*/
/*.overlay {
  position: absolute;
  top: 120x;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgb(31, 38, 135, 0.37);
  backdrop-filter: blur (5px);
}*/

/*main configuracion*/
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--azulino);
}
/*seccion-us*/
#introduction-us {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 800px;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(3px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.712);
  background-image: url(background-section3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 0px 40px;
}
#introduction-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(background-section3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #081d3bd8;
  filter: blur(3px);
  z-index: -3;
}
.bg-us {
  display: flex;
  margin-top: 220px;
  width: 40%;
}
#motor {
  position: absolute;
  left: 25%;
  top: 30%;
  width: 45%;
}
.bg-us span {
  color: var(--yellow);
  font-weight: 900;
  font-size: 38px;
}
.btn {
  display: flex;
  position: absolute;
  align-items: center;
  color: white;
  background-color: rgba(24, 24, 50, 0);
  border-radius: 100% / 100% 30% 100% 100%;
  font-size: 18px;
  padding: 5px 20px;
  font-weight: 900;
  border: solid 2px;
  border-top: none;
  border-right: none;
  border-color: rgba(255, 255, 255, 0.927);
  cursor: pointer;
  left: 100px;
  bottom: 100px;
  transition: all 0.7s ease;
}
.about a,
.preorder a {
  text-decoration: none;
  color: var(--white);
}
.about2 a {
  text-decoration: none;
  color: var(--white);
}
.btn a:hover {
  color: rgb(0, 0, 0);
}
.btn:hover {
  background-color: rgba(15, 54, 11, 0.606);
  border: solid 2px;
  border-top: none;
  border-right: none;
  border-color: rgba(15, 54, 11, 0.606);
  font-weight: 900;
  transition: all 0.7s ease;
}
.btn span {
  color: var(--yellow);
}

.description-us {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 30%;
  /*border: solid 2px;*/
  border-radius: 20px;
  padding: 20px;
  background-color: var(--plateado-transparent);
  box-shadow: rgb(31, 136, 22) 50%;
  margin-top: 200px;
}
.description-us h1 {
  font-weight: 900;
  font-size: 28px;
  color: var(--yellow);
}
.description-us p {
  text-align: justify;
  line-height: 1.5;
  font-size: 22px;
}
.description-us p > span {
  font-size: 32px;
  font-weight: 900;
  background: linear-gradient(
    0deg,
    rgb(223, 255, 223) 5%,
    rgb(16, 71, 11) 50%,
    rgb(200, 231, 193) 95%
  );
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.2);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px darkgoldenrod;
}
.about {
  left: 200px;
  bottom: -80px;
}
.about2 {
  display: none;
}
/*us-benefits------------------------------*/
#us-benefits {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 0px;
  padding: 0px;
  gap: 40px;
  background: rgba(0, 0, 0, 0.574);
  border-bottom: 1px solid rgba(255, 255, 255, 0.712);
}

.our-company {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
  width: 100%;
  margin-left: 0;
  gap: 20px;
  padding-top: 40px;
}
.type-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  gap: 40px;
  padding: 0px 40px;
}

.btn-company {
  display: flex;
  border: solid 1px var(--white);
  padding: 5px 40px;
  border-radius: 20px;
  font-weight: 900;
  font-size: 32px;
  cursor: pointer;
}
#btn-company {
  display: none;
}

#btn-company:checked ~ .content-us .electric-us {
  display: none;
  transition: all 0.7s linear;
}

#btn-company:checked ~ .content-us .info-us {
  display: block;
  transition: all 0.7s linear;
}
.type-info span {
  padding: 0px 10px;
}
.btn-company:hover {
  background-color: white;
  color: rgb(24, 24, 50);
  font-weight: 900;
  transition: all 1s ease;
}

.content-us {
  padding: 0px 40px 40px 0px;
}
.info-us {
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;
}
.electric-us {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#btn-company:checked ~ .content-us .electric-us {
  display: none;
  transition: all 0.7s linear;
}

#btn-company:checked ~ .content-us .info-us {
  display: block;
  transition: all 0.7s linear;
}
.electric-motor {
  width: 100%;
  background-image: url(./sketch-electric-motor.png);
  background-color: var(--plateado-transparent);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  clip-path: polygon(30% 50% 20% 60%);
  border-left: solid 1px white;
}

#select {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.select-products {
  display: grid;
  grid-template-columns: 1.7fr 1.7fr 2fr;
  grid-auto-rows: 1fr;
  place-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
}
.texto-select {
  position: absolute;
  font-size: 60px;
  font-weight: 900;
  top: 40px;
  left: 80px;
  color: rgba(255, 255, 255, 0.756);
  box-shadow: #071934a2;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  z-index: 3;
}
.item {
  background-color: var(--plateado-transparent);
  border: solid 1px var(--white);
  position: relative;
  display: flex;
}
.item a {
  background-color: rgba(80, 80, 80, 0);
  font-weight: 900;
  font-size: 24px;
  border: solid 1px;
  border-color: white;
  color: white;
  cursor: pointer;
  transition: all 1s ease;
  padding: 5px 20px;
}
.item a:hover {
  background-color: white;
  color: rgb(24, 24, 50);
  font-weight: 900;
  transition: all 1s ease;
}

.item:nth-child(1) {
  background-color: #8e8400;
}
.item:nth-child(2) {
  background-image: url(./kid3-select.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 2/3;
  grid-row: 1/3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  transition: transform 1s ease-in-out;
}
.item:nth-child(2):hover {
  transform: scale(1.3) translatey(80px);
  transition: transform 1s ease-in-out;
  z-index: 6;
}
.item:nth-child(3) {
  background-image: url(./concept-select.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
}
.item:nth-child(3):hover {
  transform: scale(1.3) translateX(50px) translatey(40px);
  transition: transform 1s ease-in-out;
  z-index: 6;
}
.item:nth-child(4) {
  background-image: url(./mono-select.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1/2;
  grid-row: 2/4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
}
.item:nth-child(4):hover {
  transform: scale(1.3) translateX(50px) translatey(-80px);
  transition: transform 1s ease-in-out;
  z-index: 6;
}
.item:nth-child(5) {
  background-image: url(./scooter-select.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
}
.item:nth-child(5):hover {
  transform: scale(1.3) translateX(-80px) translatey(40px);
  transition: transform 1s ease-in-out;
  z-index: 6;
}
.item:nth-child(6) {
  background-image: url(./classic-select.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
}
.item:nth-child(6):hover {
  transform: scale(1.3) translateX(-80px);
  transition: transform 1s ease-in-out;
  z-index: 6;
}
.item:nth-child(7) {
  background-image: url(./skate-select.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
}
.item:nth-child(7):hover {
  transform: scale(1.3) translatey(-40px);
  transition: transform 1s ease-in-out;
  z-index: 6;
}
.item:nth-child(8) {
  background-image: url(./motorcycle-select.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
}
.item:nth-child(8):hover {
  transform: scale(1.3) translateX(-80px) translatey(-40px);
  transition: transform 1s ease-in-out;
  z-index: 6;
}

#products {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  padding: 0px 20px;
}
/*concepts-------------------------*/
.product-concept {
  margin: 0px;
  padding: 0px;
}
.concept {
  display: flex;
  flex-direction: column;
}
.Concept-info {
  display: flex;
  justify-content: space-between;
  padding: 80px 40px;
  gap: 20px;
}
.Concept-info h2 {
  color: white;
  width: 60%;
  font-size: 32px;
  height: 100%;
  line-height: 2;
  border-right: solid 2px white;
  padding-right: 20px;
  text-align: center;
}
.info-concepts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info-concepts p {
  color: white;
  width: 100%;
  align-items: end;
  font-size: 20px;
}

.products-cards-concepts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 20px;
  z-index: 0;
}

.product {
  flex-wrap: wrap;
  background-color: var(--plateado-transparent);
  border: solid 1px var(--white);
  position: relative;
  border-radius: 40px;
}
.product:hover {
  background-color: rgb(89, 89, 89);
  transition: all 2s ease;
}
/*product-01*/
.concept-01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px 40px;
  gap: 0px;
}

#img-concept-01 {
  width: 100%;
  z-index: 2;
}
#img-concept-01:hover {
  transform: scale(1.15) translateY(-5%);
  transition: transform 1s ease-in-out;
  z-index: 2;
}
.product-info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.top-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.top-info p {
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 5px 20px;
}
.mid-info {
  display: flex;
  justify-content: space-between;
}
.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-developer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.info-developer img {
  width: 10%;
  border-radius: 10px;
}
.info-developer p {
  font-weight: 300;
}
.developer span {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.bot-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offer-time {
  display: flex;
  align-items: center;
  gap: 10px;
}
.offer-time img {
  width: 10%;
}
.offer-time p {
  font-weight: 700;
}
.btn-add {
  background-color: rgba(50, 49, 62, 0);
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  transition: 0.5s ease-in-out;
}
.btn-add > a {
  background-color: rgb(50, 49, 62);
  border-radius: 10px;
  padding: 5px 20px;
  width: 100%;
  border: none;
  font-size: 18px;
  font-weight: 900;
  color: var(--yellow);
  transition: 0.5s ease-in-out;
}
.btn-add > a:hover {
  background-color: rgb(24, 24, 50);
  color: white;
  border-radius: 10px;
  border: none;
  transition: 0.5s ease-in-out;
}
/*product 02*/
.concept-02 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  gap: 20px;
}
#img-concept-02 {
  width: 100%;
  z-index: 2;
}
#img-concept-02:hover {
  transform: scale(1.25);
  transition: transform 1s ease-in-out;
  z-index: 2;
}
/*product 03*/
.concept-03 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  gap: 20px;
}

#img-concept-03 {
  width: 100%;
  z-index: 2;
}
#img-concept-03:hover {
  transform: scale(1.25);
  transition: transform 1s ease-in-out;
  z-index: 2;
}

/*adult-scooter-------------------------*/
.adult-a-scooter {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.adult-info {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 20px;
}
.adult-info h2 {
  color: white;
  width: 60%;
  font-size: 32px;
  height: 100%;
  line-height: 2;
  border-right: solid 2px white;
  padding-right: 20px;
  text-align: center;
}
.info-adult-scooter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info-adult-scooter p {
  color: white;
  width: 100%;
  align-items: end;
  font-size: 20px;
}
.products-cards-a-scooters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 20px;
  z-index: 0;
}
/*product-01*/
.A-scooter-01 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

#img-A-scooter-01 {
  width: 55%;
  z-index: 2;
}
#img-A-scooter-01:hover {
  transform: scale(1.25);
  transition: transform 1s ease-in-out;
  z-index: 2;
}
/*product-02*/
.a-scooter-02 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

#a-scooter-02 {
  width: 40%;
  z-index: 2;
}
#a-scooter-02:hover {
  transform: scale(1.25);
  transition: transform 1s ease-in-out;
  z-index: 2;
}
/*product-03*/
.a-scooter-03 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

#img-a-scooter-03 {
  width: 40%;
  z-index: 2;
}
#img-a-scooter-03:hover {
  transform: scale(1.25);
  transition: transform 1s ease-in-out;
  z-index: 2;
}

/*kids-scooter-------------------------*/
#kids {
  display: flex;
  margin: 0px;
  padding: 0px;
}
.kids-scooter {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}
.kid-info {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 20px;
}
.kid-info h2 {
  color: white;
  width: 60%;
  font-size: 32px;
  height: 100%;
  line-height: 2;
  border-right: solid 2px white;
  padding-right: 20px;
  text-align: center;
}
.info-kid-scooter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info-kid-scooter p {
  color: white;
  width: 100%;
  align-items: end;
  font-size: 20px;
}
.products-cards-kid-scooters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 20px;
  z-index: 0;
}
/*product-01*/
.kid-scooter-00 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

#kid-scooter-00 {
  width: 55%;
  z-index: 2;
}
#kid-scooter-00:hover {
  transform: scale(1.25);
  transition: transform 1s ease-in-out;
  z-index: 2;
}
/*product-02*/
.kid-scooter-02 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

#kid-scooter-02 {
  width: 45%;
  z-index: 2;
}
#kid-scooter-02:hover {
  transform: scale(1.25);
  transition: transform 1s ease-in-out;
  z-index: 2;
}
/*product-03*/
.kid-scooter-03 {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

#kid-scooter-03 {
  width: 30%;
  z-index: 2;
}
#kid-scooter-03:hover {
  transform: scale(1.25);
  transition: transform 1s ease-in-out;
  z-index: 2;
}
/*SKATE-------------------------*/

.product-skate {
  margin: 0px;
  padding: 0px;
}
.skate-00 {
  display: flex;
  flex-direction: column;
}
.skate-info {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  padding-top: 0px;
  gap: 20px;
}
.skate-info h2 {
  color: white;
  width: 60%;
  font-size: 32px;
  height: 100%;
  line-height: 2;
  border-right: solid 2px white;
  padding-right: 20px;
  text-align: center;
}
.info-skate {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info-skate p {
  color: white;
  width: 100%;
  align-items: end;
  font-size: 20px;
}
.products-cards-skate {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 20px;
  z-index: 0;
}
/*product-01*/
.skate-00 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

#skate-00 {
  width: 60%;
  z-index: 2;
}
#skate-00:hover {
  transform: scale(1.25);
  transition: transform 1s ease-in-out;
  z-index: 2;
}
/*product-02*/
.skate-02 {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

#skate-02 {
  width: 65%;
  z-index: 2;
}
#skate-02:hover {
  transform: scale(1.25);
  transition: transform 1s ease-in-out;
  z-index: 2;
}
/*product-03*/
.skate-03 {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

#skate-03 {
  width: 60%;
  z-index: 2;
}
#skate-03:hover {
  transform: scale(1.25);
  transition: transform 1s ease-in-out;
  z-index: 2;
}
/*Scooter-------------------------*/
.product-scooter {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.scooter-info {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  padding-top: 0px;
  gap: 20px;
  align-items: center;
}
.scooter-info h2 {
  color: white;
  width: 60%;
  font-size: 32px;
  height: 100%;
  line-height: 2;
  border-right: solid 2px white;
  padding-right: 20px;
  text-align: center;
}
.info-scooter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info-scooter p {
  color: white;
  width: 100%;
  align-items: end;
  font-size: 20px;
}
.products-cards-scooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 20px;
  z-index: 0;
}
/*product-01*/
.scooter-00 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

#scooter-00 {
  width: 70%;
  z-index: 2;
}
#scooter-00:hover {
  transform: scale(1.25);
  transition: transform 1s ease-in-out;
  z-index: 2;
}
/*product-02*/
.scooter-02 {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

#scooter-02 {
  width: 50%;
  z-index: 2;
}
#scooter-02:hover {
  transform: scale(1.25);
  transition: transform 1s ease-in-out;
  z-index: 2;
}
/*product-03*/
.scooter-03 {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

#scooter-03 {
  width: 50%;
  z-index: 2;
}
#scooter-03:hover {
  transform: scale(1.25);
  transition: transform 1s ease-in-out;
  z-index: 2;
}
/*Classics-------------------------*/
.product-classics {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.classics-info {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  padding-top: 0px;
  gap: 20px;
  align-items: center;
}
.classics-info h2 {
  color: white;
  width: 60%;
  font-size: 32px;
  height: 100%;
  line-height: 2;
  border-right: solid 2px white;
  padding-right: 20px;
  text-align: center;
}
.info-classics {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info-classics p {
  color: white;
  width: 100%;
  align-items: end;
  font-size: 20px;
}
.products-cards-classics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 20px;
  z-index: 0;
}
/*product-01*/
.classics-00 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

#classics-00 {
  width: 60%;
  z-index: 2;
}
#classics-00:hover {
  transform: scale(1.25);
  transition: transform 1s ease-in-out;
  z-index: 2;
}
/*product-02*/
.classics-02 {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

#classics-02 {
  width: 60%;
  z-index: 2;
}
#classics-02:hover {
  transform: scale(1.25);
  transition: transform 1s ease-in-out;
  z-index: 2;
}
/*product-03*/
.classics-03 {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

#classics-03 {
  width: 50%;
  z-index: 2;
}
#classics-03:hover {
  transform: scale(1.25);
  transition: transform 1s ease-in-out;
  z-index: 2;
}

/*Motorcycle-------------------------*/
.product-motorcycle {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.motorcycle-info {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  padding-top: 0px;
  gap: 20px;
  align-items: center;
}
.motorcycle-info h2 {
  color: white;
  width: 60%;
  font-size: 32px;
  height: 100%;
  line-height: 2;
  border-right: solid 2px white;
  padding-right: 20px;
  text-align: center;
}
.info-motorcycle {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info-motorcycle p {
  color: white;
  width: 100%;
  align-items: end;
  font-size: 20px;
}
.products-cards-motorcycle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 20px;
  z-index: 0;
}
/*product-01*/
.motorcycle-00 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

#motorcycle-00 {
  width: 60%;
  z-index: 2;
}
#motorcycle-00:hover {
  transform: scale(1.25);
  transition: transform 1s ease-in-out;
  z-index: 2;
}
/*product-02*/
.motorcycle-02 {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

#motorcycle-02 {
  width: 60%;
  z-index: 2;
}
#motorcycle-02:hover {
  transform: scale(1.25);
  transition: transform 1s ease-in-out;
  z-index: 2;
}
/*product-03*/
.motorcycle-03 {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 10px;
}

#motorcycle-03 {
  width: 65%;
  z-index: 2;
}
#motorcycle-03:hover {
  transform: scale(1.25);
  transition: transform 1s ease-in-out;
  z-index: 2;
}
/*support*/
.support-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-bottom: 80px;
}
.support-container h2 {
  border-radius: 100% / 100% 30% 100% 100%;
  font-size: 38px;
  padding: 20px 40px;
  font-weight: 900;
  border: solid 2px;
  border-top: none;
  border-right: none;
  border-color: rgb(255, 255, 255);
  color: var(--plateado);
}
.support-steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 2rem;
  padding: 20px;
}
.step p {
  font-size: 22px;
}
.step p::first-letter {
  font-size: 72px;
  color: var(--plateado);
  font-weight: 900;
}
.step img {
  width: 120px;
  border-radius: 3rem;
  border: 1px solid var(--plateado);
  box-shadow: 0 0 10px 0 var(--white);
}
.b2 img {
  width: 80px;
  height: auto;
}
.c3 img {
  width: 140px;
}
.e5 img {
  width: 80px;
}
/*Releases*/
@keyframes colorTransition {
  0% {
    filter: grayscale(100%);
  }
  100% {
    filter: grayscale(0%);
  }
}
#releases {
  display: flex;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 600px;
  background-image: url(./back-releases.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: solid 10px white;
  border-top: solid 2px white;
  z-index: 0;
  filter: grayscale(100%);
  animation: colorTransition 3s infinite alternate;
}

.new-releases {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
}
.contenedor-parrafo {
  position: absolute;
  background-color: rgba(80, 80, 80, 0.427);
  width: 100%;
  height: 160px;
}
.new-releases p {
  position: absolute;
  color: var(--yellow);
  font-weight: 900;
  font-size: 100px;
  margin-left: 60px;
  padding-bottom: 5px;
  padding-right: 160px;
  margin-bottom: 0px;
  border-bottom: solid 2px rgb(255, 255, 255);
  line-height: 0.8;
  top: 10px;
}
.new-releases p > a {
  color: var(--yellow);
  transition: all 5s ease;
}

#White {
  color: rgb(255, 255, 255);
  top: 110px;
  font-size: 60px;
  left: 600px;
  border: none;
}

.new-releases p > a:hover {
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.518);
  transition: all 1s ease;
}

#release-00 {
  position: absolute;
  width: 100%;
  scale: 0.5;
  top: 0%;
  left: 15%;
}
/*contact-----------------------*/
.contact-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding: 80px 60px;
  background-image: url(./logo-e-vehicle.png);
  background-color: #0000005f;
  background-blend-mode: multiply;
  background-size: 33%;
  background-position: 15% 16%;
  background-repeat: no-repeat;
}
.usc {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 15%;
  height: 400px;
  gap: 15px;
  border: 2px solid var(--white);
  border-radius: 30px;
  padding: 10px 20px;
  background-color: var(--plateado-transparent);
}
.follow h2 {
  color: #c0c0c0;
  font-weight: 900;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgb(255, 255, 255) 100%
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
li {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}
#brand {
  font-size: 24px;
  background: linear-gradient(
    0deg,
    rgb(223, 255, 223) 5%,
    rgb(16, 71, 11) 50%,
    rgb(200, 231, 193) 95%
  );
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.2);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px darkgoldenrod;
}
li i {
  width: auto;
  font-size: 24px;
  border: 1px solid var(--white);
  border-radius: 50%;
  padding: 10px;
}
.Contact {
  width: 20%;
}
.Contact h2 {
  color: #c0c0c0;
  font-weight: 900;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgb(255, 255, 255) 100%
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}
#comments {
  margin: 0px;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  border: solid 1px white;
  border-top: none;
  border-right: none;
  resize: none;
  padding: 0px 10px;
  color: var(--white);
}
#comments::placeholder {
  font-weight: 700;
  border: none;
  margin-left: 5px;
  padding-left: 10px;
  border-radius: 20px;
  color: rgb(175, 175, 175);
  background-color: rgba(255, 255, 255, 0);
}
iframe {
  border-radius: 50%;
  border: 1px solid gray;
  box-shadow: 0px 0 10px 0 var(--white);
  height: 420px;
  width: 620px;
}
/*chat-zone-----------------------------------*/
.chat-zone {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  bottom: 120px;
  right: 5px;
  margin: 0;
  width: 100%;
}
#chat-img {
  width: 5%;
}
#questions {
  width: 8%;
  border-radius: 40%;
  border: none;
  padding-left: 15px;
  border: 1px solid var(--azulino);
  padding-top: 30px;
  background-color: rgba(255, 255, 255, 0.637);
}
#questions::placeholder {
  font-weight: 700;
  border: none;
  margin-left: 5px;
  padding-left: 10px;
  padding-top: 20px;
  border-radius: 20px;
  color: rgb(118, 118, 118);
  background-color: rgba(255, 255, 255, 0);
}
/*footer-----------------------*/
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  border-top: 1px solid rgba(255, 255, 255, 0.697);
  padding: 5px 0px 10px 40px;
  background: linear-gradient(
    30deg,
    #071934 30%,
    rgba(255, 255, 255, 0.438) 100%
  );
  box-shadow: 0 0 10px 0 var(--white);
  transition: all 0.7s ease;
  z-index: 0;
}
.legal {
  display: flex;
  flex-direction: row;
}
.legal-footer {
  display: flex;
  width: 100%;
  padding: 20px 40px;
  gap: 20px;
  white-space: nowrap;
}
.items-footer {
  color: white;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  border: solid 1px white;
  border-top: none;
  border-right: none;
  border-radius: 20px;
  height: 30%;
  padding: 10px 10px;
  transition: all 1s ease;
}
.items-footer:hover {
  color: var(--yellow);
  border: solid 1px white;
  transition: all 1s ease;
}
