@media (max-width: 992px) {
  .menu-toggle i {
    display: block;
  }
  .navbar {
    gap: 20px;
  }

  .navbar-list {
    justify-content: center;
    justify-items: flex-start;
    align-items: center;
    position: absolute;
    top: 120px;
    right: 0px;
    width: 100%;
    height: calc(180px - 120px);
    gap: 40px;
    background-color: rgba(12, 12, 24, 0.617);
    border-radius: 50% / 0% 0% 50% 50%;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 30px 5px 40px 20px;
    transition: all 0.7s ease;
    z-index: 6;
    opacity: 0;
  }
  li {
    justify-content: flex-start;
  }
  .contendor-home {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  #vertical-home {
    margin-top: 5px;
    height: 30px;
    width: 2px;
    border-radius: 50%;
    background-color: var(--plateado);
  }
  #menu-toggle:checked + .navbar-list {
    opacity: 1;
    transition: all 0.7s ease;
  }
  .cart {
    width: 28%;
    text-align: center;
    padding: 40px 20px 20px 40px;
  }
  /*seccion-us*/

  .bg-us {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
  }
  .bg-us img {
    position: absolute;
    left: 190px;
    top: 140px;
    width: 60%;
  }
  .bg-us h1 {
    width: 40%;
    margin-top: 40px;
    margin-left: 20px;
  }
  .us {
    left: -200px;
    bottom: 30px;
  }
  .description-us {
    width: 35%;
  }
}
