@media screen and (min-width: 319px) and (max-width: 575px) {
  header {
    margin: 0;
    padding: 0px;
    justify-content: space-around;
    gap: 0px;
  }
  #logo-Vehicles-header {
    width: 60px;
    position: absolute;
    left: 30px;
    top: 35px;
  }
  .texto-logo {
    display: none;
  }
  .navbar {
    width: 100%;
    gap: 5px;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
  }
  .navbar-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 120px;
    left: 0px;
    width: 50%;
    height: calc(400px - 120px);
    gap: 20px;
    z-index: 6;
  }
  .navbar-list li {
    align-items: center;
  }

  #vertical-home {
    display: none;
  }
  .cart-login {
    justify-content: space-around;
    width: 60%;
    margin: 0;
    height: 120px;
    padding: 0px 20px;
    gap: 5px;
  }
  .cart-login span {
    display: none;
  }
  .carrito {
    padding: 0;
    height: 35px;
    cursor: pointer;
  }
  .cart {
    width: 60%;
    text-align: center;
    padding: 40px 10px 10px 10px;
  }
  #kid-00 {
    width: 55%;
  }
  #classic-02 {
    width: 60%;
  }

  #introduction-us {
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    height: auto;
    width: 100%;
    margin: 0px;
    padding-bottom: 60px;
  }
  .bg-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    margin-top: 130px;
    width: 100%;
  }
  .bg-us h1 {
    width: 100%;
    text-align: start;
    font-size: 22px;
    padding: 0px;
    margin: 0px;
  }

  #motor {
    position: absolute;
    left: 11%;
    top: 30%;
    width: 80%;
  }

  .bg-us span {
    font-size: 22px;
  }
  .btn {
    position: relative;
    margin-top: -80px;
    font-size: 18px;
    padding: 5px 10px;
    font-weight: 900;
  }
  .description-us {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px;
    padding-bottom: 0px;
    margin-top: 0px;
    gap: 0px;
  }
  .description-us h1 {
    font-weight: 900;
    font-size: 24px;
    color: var(--yellow);
    padding: 0px;
    margin: 0px;
  }
  .description-us p {
    text-align: justify;
    line-height: 1.5;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
  }
  .description-us p > span {
    font-size: 28px;
    font-weight: 900;
  }
  .about {
    position: relative;
    font-size: 18px;
    padding: 5px 10px;
    margin: 0px;
    margin-left: -90px;
    margin-bottom: 20px;
  }
  .about2 {
    display: none;
  }
  .type-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 0px 20px;
  }

  .btn-company {
    display: flex;
    border: solid 1px var(--white);
    padding: 2px 5px;
    border-radius: 20px;
    font-weight: 900;
    font-size: 22px;
    cursor: pointer;
  }
  .electric-motor {
    display: none;
  }
}
/*sector grid*/
@media screen and (min-width: 180px) and (max-width: 575px) {
  .select-products {
    grid-template-columns: 1fr;
  }
  .texto-select {
    position: absolute;
    font-size: 35px;
    font-weight: 900;
    top: 20px;
    left: 20px;
    line-height: 0.9;
  }
  .item:nth-child(even),
  .item:nth-child(odd) {
    grid-column: 1fr;
    grid-row: auto;
  }
  .item:nth-child(2) {
    grid-column: 1/2;
    grid-row: 1/4;
  }
  .item:nth-child(4) {
    grid-column: 1/2;
    grid-row: 6/9;
  }
  .item:nth-child(8) {
    grid-column: 1/2;
    grid-row: 11/13;
  }
  .item a {
    font-size: 18px;
    padding: 5px 10px;
  }
  #products {
    display: grid;
    grid-template-columns: 1fr;

    padding: 20px 2px;
  }
  .products-cards-concepts,
  .products-cards-a-scooters,
  .products-cards-kid-scooters,
  .products-cards-skate,
  .products-cards-scooter,
  .products-cards-classics,
  .products-cards-motorcycle {
    grid-template-columns: repeat(1, 1fr);
  }

  /*products---------------------------*/
  .product {
    padding: 10px 20px;
    margin: 0px 5px;
  }
  .Concept-info {
    flex-direction: column;
    padding: 40px;
    gap: 20px;
  }
  .Concept-info h2 {
    border-right: none;
    border-bottom: solid 2px white;
    padding-right: 0px;
    text-align: start;
  }
  .adult-info {
    flex-direction: column;
    padding: 40px;
    gap: 20px;
  }
  .adult-info h2 {
    border-right: none;
    border-bottom: solid 2px white;
    padding-right: 0px;
    text-align: start;
  }
  .kid-info {
    flex-direction: column;
    padding: 40px;
    gap: 20px;
  }
  .kid-info h2 {
    border-right: none;
    border-bottom: solid 2px white;
    padding-right: 0px;
    text-align: start;
  }
  .skate-info {
    flex-direction: column;
    padding: 40px;
    gap: 20px;
  }
  .skate-info h2 {
    border-right: none;
    border-bottom: solid 2px white;
    padding-right: 0px;
    text-align: start;
  }
  .scooter-info {
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    align-items: start;
  }
  .scooter-info h2 {
    border-right: none;
    border-bottom: solid 2px white;
    padding-right: 0px;
    text-align: start;
  }
  .classics-info {
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    align-items: start;
  }
  .classics-info h2 {
    border-right: none;
    border-bottom: solid 2px white;
    padding-right: 0px;
    text-align: start;
  }
  .motorcycle-info {
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    align-items: start;
  }

  .motorcycle-info h2 {
    border-right: none;
    border-bottom: solid 2px white;
    padding-right: 0px;
    text-align: start;
  }
  /*support*/
  .support-container {
    padding-bottom: 60px;
    padding-top: 0px;
  }
  .support-container h2 {
    border-radius: 100% / 100% 30% 100% 100%;
    font-size: 36px;
    padding: 60px 20px;
  }
  .step {
    padding: 20px;
    text-align: center;
    gap: 20px;
  }
  .step p {
    font-size: 22px;
    text-align: left;
  }
  .step p::first-letter {
    font-size: 72px;
    color: var(--plateado);
    font-weight: 900;
    text-align: center;
    line-height: 0.7em;
    float: left;
    margin-right: 5px;
  }
  .c3 p::first-letter {
    line-height: 1.2em;
  }
  /*release------------------------------*/
  #releases {
    height: 400px;
    border-bottom: solid 5px white;
  }
  .new-releases p {
    position: absolute;

    font-size: 50px;
    margin-left: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    line-height: 0.8;
    top: 10px;
  }
  #White {
    color: rgb(255, 255, 255);
    top: 90px;
    font-size: 40px;
    left: 150px;
    padding: 0px;
  }
  #release-00 {
    position: absolute;
    width: 100%;
    scale: 0.9;
    top: 55%;
    left: 3%;
  }

  /*contact-----------------------*/
  .contact-container {
    flex-direction: column;
    padding: 20px 10px;
    background-size: 70%;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }
  .usc {
    width: 80%;
    padding: 10px 10px;
  }
  .Contact {
    width: 90%;
  }
  iframe {
    height: 260px;
    width: 260px;
  }
  /*chat-zone-----------------------------------*/

  #chat-img {
    width: 20%;
    height: 10%;
  }
  #questions {
    width: 20%;
  }

  /*footer--------------------------------*/
  .footer-container {
    padding: 5px 0px 10px 20px;
  }
  .logo-container:first-child {
    width: 60px;

    left: 5px;
    top: 0px;
  }

  .legal-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 5px;
    gap: 10px;
    white-space: nowrap;
    align-items: flex-end;
  }
  .items-footer {
    font-weight: 600;
    font-size: 16px;
    height: 20%;
    padding: 2px 2px;
    transition: all 1s ease;
  }
}
